@use "./variables" as *;
@use "./mixins" as *;

.about {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;

  &__textcontainer {
    @include desktop {
      padding-left: 4rem;
    }
    &--heading {
      @include mobile-page-header-font($primary-color-BandSite-black);
      padding-bottom: 1rem;
      padding-top: 1.5rem;

      @include tablet {
        padding-top: 2.25rem;
        padding-left: 2.25rem;
        padding-bottom: 2.25rem;
        @include desktop-tablet-section-header-font(
          $primary-color-BandSite-black
        );
      }
    }
  }
  &__imgcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    &--img {
      width: 100%;
      height: auto;
      padding-bottom: 1rem;
      @include desktop {
        padding-left: 4rem;
        padding-right: 4rem;
        box-sizing: border-box;
      }
    }
  }
  &__quotecontainer {
    @include tablet {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    @include desktop {
      padding-left: 10.125rem;
      padding-right: 8.125rem;
      padding-top: 1.5rem;
      padding-bottom: 2.5rem;
    }
    &--text {
      @include mobile-sub-header-font($secondary-color-BandSite-darkblack);

      @include tablet {
        @include desktop-tablet-sub-header-font($primary-color-BandSite-black);
      }
    }
  }
  &__subheadingcontainer {
    @include desktop {
      padding-left: 4rem;
      padding-right: 8.125rem;
      padding-bottom: 2.5rem;
    }
    &--text {
      @include mobile-body-font($secondary-color-BandSite-darkblack);
      font-size: 1rem;
      @include tablet {
        padding-left: 6rem;
        padding-right: 6rem;
        @include desktop-tablet-sub-header-font($primary-color-BandSite-black);
      }
    }
    &--paragraph {
      @include mobile-body-font($primary-color-BandSite-black);

      @include tablet {
        padding-left: 6rem;
        padding-right: 6rem;
        @include desktop-tablet-body-font($primary-color-BandSite-black);
        display: flex;
      }
    }
  }
  &__secondsubheadingcontainer {
    @include desktop {
      padding: 0;
      display: flex;
    }
  }
}
