@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background: $primary-color-BandSite-black;
  color: $primary-color-white;
  width: 100%;
  @include tablet {
    padding-left: 2.25rem;
  }

  &__getintouchcontainer {
    @include tablet {
      display: flex;
    }
  }

  &__bigcontainer {
    padding-top: 1rem;
    padding-left: 1rem;
  }
  &__container {
    padding-bottom: 1rem;
  }
  &__container--text {
    @include mobile-title-font($primary-color-white);
    @include tablet {
      @include desktop-tablet-section-header-font($primary-color-white);
      padding-right: 2.25rem;
      padding-top: 2.25rem;
    }
  }
  &__socialmediacontainer {
    padding-bottom: 1rem;
    @include tablet {
      display: flex;
      flex-grow: 1;
    }
  }

  &__sidelogo {
    display: none;
    @include tablet {
      display: block;
      padding-right: 3rem;
      padding-top: 3rem;
    }
  }

  &__socialmediaicon {
    padding-right: 1rem;
    @include tablet {
      height: 25px;
      padding-left: 1rem;
      padding-top: 2.7rem;
    }
  }

  &__namecontainer {
    padding-bottom: 1rem;
  }
  &__info {
    @include mobile-sub-header-font($primary-color-white);
  }
  &__subinfo {
    @include mobile-body-font($primary-color-white);
  }
  &__email {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__bottomlogo {
    @include mobile-title-font($primary-color-white);
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__logoinfo {
    @include mobile-body-font($primary-color-white);
    padding-bottom: 1rem;
  }
}
