@use "./variables" as *;
@use "./mixins" as *;

html,
body {
  @include resets;
}

.header {
  background: $primary-color-BandSite-black;

  @include resets;

  @include tablet {
    display: flex;
    padding-left: 2.25rem;
  }
  @include desktop {
    padding: 1rem;
  }

  &__title {
    max-height: 1.25rem;
    //max-width: 7.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    //color: $primary-color;
    @include desktop {
      padding-left: 5rem;
    }
  }
}

.nav {
  padding: 1rem;

  &__list {
    display: flex;
    justify-content: space-around;

    list-style: none;
    @include resets;

    @include tablet {
      padding-left: 1rem;
    }
  }

  a nav__link nav__link--active {
    color: #e6e6e6; /* Mercury color for inactive links */
    text-decoration: none; /* Remove the underline */
    font-weight: normal; /* Set the font weight to normal */
    position: relative; /* Set the position to relative for positioning the underline */
  }
  a.active,
  a:hover {
    color: #ffffff; /* White color for active and hover links */
    font-weight: bold; /* Set the font weight to bold */
  }

  &__link {
    text-decoration: none;
    @include mobile-sub-header-font($primary-color-white);

    @include tablet {
      padding-left: 2.25rem;
    }

    &--active {
      font-weight: bold;
      border-bottom: #ffffff;
      width: min-content; // Set the minimum width to 1 grid column unit and match the width of the text
    }

    &:hover {
      @extend .nav__link--active;
    }
  }
}
