@use "./variables" as *;
@use "./mixins" as *;

html,
body {
  @include resets;
}

.topnav {
  background: $primary-color-BandSite-black;
  overflow: hidden;
  height: 11vh;

  @include tablet {
    display: flex;
    padding-left: 2.25rem;

    &__logo {
      padding-right: 2.8rem;
      padding-top: 1rem;
      padding-left: 1.3rem;
    }
  }
  @include desktop {
    @include desktop-tablet-labels-btn(white);
    height: 8vh;
    padding-top: 1.5rem;
    padding-left: 5rem;
    padding-bottom: 1rem;

    &__logo {
      padding-right: 2.8rem;
    }

    //padding: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
  }

  /* Style the links inside the navigation bar */
  &__link {
    @include mobile-sub-header-font(white);
    //float: left;

    color: #f2f2f2;

    text-decoration: none;
    display: flex;
    justify-content: space-around;
    //font-size: 17px;
    border-bottom: 3px solid transparent;
    //padding-left: 5rem;
    padding-bottom: 0.7rem;

    width: 100%;

    &:hover {
      @extend .topnav__link--active;
    }

    &--active {
      border-bottom: 3px solid white;
      font-style: bold;
      color: white;
    }
    &--nothover {
      color: $secondary-color-mercury;
    }

    &-outside-container {
      //display: flex;
      //justify-content: space-around;
    }

    @include tablet {
      height: 1vh;
      padding-top: 2rem;
      padding-bottom: 3rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include desktop {
      padding-top: 0.6rem;
      //padding-bottom: 5rem;
      padding-right: 4rem;
      padding-left: 3rem;
      width: 10%;
    }
  }
}
