@use "./variables" as *;
@use "./mixins" as *;

.topnav {
  background: $primary-color-BandSite-black;
  overflow: hidden;
  height: 10.5vh;

  @include tablet {
    display: flex;
    padding-left: 2.25rem;
    height: 9vh;

    &__logo {
      padding-right: 2.8rem;
    }
  }

  @include desktop {
    @include desktop-tablet-labels-btn(white);
    height: 8vh;
    padding-top: 1.5rem;
    padding-left: 5rem;
    padding-bottom: 1rem;

    &__logo {
      padding-right: 2.8rem;
      padding-left: 2.8rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
  }

  &__link {
    @include mobile-sub-header-font(white);
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.7rem;
    width: 100%;

    &:hover:not(&--active) {
      border-bottom: 3px solid white;
    }

    &--active {
      border-bottom: 0.1875rem solid white;
      font-weight: bold;
      color: white;
    }

    /* Add the following styles for the default underline on Biography */
    &--bio {
      border-bottom: 3px solid white;
    }

    /* Add the following styles to change the border-bottom on hover */
    &--hover {
      &:hover {
        border-bottom: 3px solid white;
      }
    }
    @include tablet {
      display: flex;
      justify-content: flex-start;
      padding-right: 6rem;
      padding-top: 0.8rem;
      padding-bottom: 0rem;
      width: fit-content;

      &--active {
        content: ""; /* This is necessary for the pseudo element to work. */
        padding-bottom: 3rem;
        width: 0%;
      }
    }

    @include desktop {
      padding-top: 0.1rem;
      padding-bottom: 0rem;
      width: fit-content;
      &--active {
        content: ""; /* This is necessary for the pseudo element to work. */
        padding-bottom: 3.1rem;
        width: 0%;
      }
    }
  }

  @include desktop {
    height: 5vh;
    padding-right: 4rem;
    padding-left: 3rem;
  }
}
