@use "./mixins" as *;
@use "./variables" as *;

html,
body {
  @include resets;
}

.hero {
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("/assets/images/hero-bio.jpg");

  background-size: cover;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;

  @include tablet {
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
  }
  @include desktop {
    background-size: cover;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
  }

  &__container {
    padding-left: 1rem;

    @include tablet {
      padding-left: 2.25rem;
    }
    @include desktop {
      padding-left: 6rem;
    }
  }
  &__heading {
    @include mobile-title-font($primary-color-white);
    @include tablet {
      @include desktop-tablet-page-header-font($primary-color-white);
    }
  }
}
