@use "./mixins" as *;
@use "./variables" as *;

.shows {
  padding: 1rem;

  &__text-container--text {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    @include mobile-page-header-font($secondary-color-BandSite-darkblack);

    @include tablet {
      padding-left: 1rem;
      @include desktop-tablet-sub-header-font(
        $secondary-color-BandSite-darkblack
      );
      font-size: 2rem;
    }
    @include desktop {
      padding-left: 6rem;
      @include desktop-tablet-sub-header-font(
        $secondary-color-BandSite-darkblack
      );
      font-size: 2rem;
    }
  }
  &__container {
    @include desktop {
      box-sizing: border-box;
      padding-left: 20rem;
      padding-right: 6rem;
    }
    &__showsOuterContainer {
      @include tablet {
        display: flex;
        padding: 1rem 1.125rem;
      }
    }

    &--date {
      @include tablet {
        width: 9rem;
        padding-left: 0;
        padding-right: 2rem;
      }

      &--title {
        @include mobile-sub-header-font($primary-color-silver);
        @include tablet {
          padding-bottom: 1.5rem;
        }
      }

      &--actualvalue {
        padding-bottom: 1rem;
        @include mobile-sub-header-font($secondary-color-BandSite-darkblack);
      }
    }

    &--venue {
      @include tablet {
        width: 7rem;
        padding-right: 5rem;
      }
      &--title {
        @include mobile-sub-header-font($primary-color-silver);
        @include tablet {
          padding-bottom: 1.5rem;
        }
      }
      &--actualvalue {
        padding-bottom: 1rem;
        @include mobile-sub-header-font($secondary-color-BandSite-darkblack);
        font-weight: 500;
      }
    }

    &--location {
      @include tablet {
        width: 9rem;
        //padding-right: 2rem;
      }
      &--title {
        @include mobile-sub-header-font($primary-color-silver);
        @include tablet {
          padding-bottom: 1.5rem;
        }
      }

      &--actualvalue {
        padding-bottom: 1rem;
        @include mobile-sub-header-font($secondary-color-BandSite-darkblack);
        font-weight: 500;
      }
    }
    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        display: flex;
        margin-left: auto;
      }
    }
    &--btn-buy-tickets {
      @include mobile-labels-btn-font(white);
      font-weight: normal;
      font-size: 1rem;
      background: $primary-color-BandSite-black;
      width: 20rem;
      height: 2.5rem;
      border-radius: 4px;
      margin-bottom: 0.5rem;

      @include tablet {
        width: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    &--line-divider {
      box-sizing: border-box;
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: 0.5rem;
      @include tablet {
        box-sizing: border-box;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
      }
    }
  }
}
