@use "./variables" as *;
@use "./mixins" as *;

.user-comments-container {
  @include tablet {
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include desktop {
    @include desktop {
      padding-left: 30rem;
      padding-right: 30rem;
    }
  }
  &__image-container {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: #e1e1e1;
    border-radius: 50%;
  }

  &__outerdiv {
    display: flex;
    flex-wrap: wrap;

    &--name {
      @include mobile-sub-header-font($secondary-color-BandSite-darkblack);
    }

    &--email {
      @include mobile-sub-header-font($primary-color-silver);
    }

    &--comment {
      @include mobile-body-font($secondary-color-BandSite-darkblack);
      padding-left: 3.4rem;

      @include desktop {
        padding-bottom: 1rem;
      }
    }
  }

  &__name-email-div {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
    flex: 1;
  }

  &__name-email-div--email {
    margin-left: auto;
  }
}
