$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-BandSite-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$secondary-color-BandSite-darkblack: #000000;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;

$site-font: "Avenir Next";
