@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-size: 700;
  font-weight: bold;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-demi.otf") format("otf");
  font-size: 400;
  font-weight: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 600;
  font-weight: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.topnav {
  background: #323232;
  overflow: hidden;
  height: 10vh;
  /* Style the links inside the navigation bar */
}
@media screen and (min-width: 768px) {
  .topnav {
    display: flex;
    padding-left: 2.25rem;
    height: 9vh;
  }
  .topnav__logo {
    padding-right: 2.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .topnav {
    font-family: "Avenir Next";
    color: white;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: bold;
    height: 8vh;
    padding-top: 1.5rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
  }
  .topnav__logo {
    padding-right: 2.8rem;
    padding-left: 2.8rem;
  }
}
.topnav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.topnav__link {
  font-family: "Avenir Next";
  color: white;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.7rem;
  width: 100%;
}
.topnav__link--active {
  border-bottom: 0.1875rem solid white;
  font-style: bold;
  color: white;
}
.topnav__link--nothover {
  color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .topnav__link {
    display: flex;
    justify-content: flex-start;
    padding-right: 6rem;
    padding-top: 0.8rem;
    padding-bottom: 0rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topnav__link--active {
    content: ""; /* This is necessary for the pseudo element to work. */
    padding-bottom: 3rem;
    width: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .topnav__link {
    padding-top: 0.1rem;
    padding-bottom: 0rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topnav__link--active {
    content: ""; /* This is necessary for the pseudo element to work. */
    padding-bottom: 3.1rem;
    width: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .topnav {
    height: 5vh;
    padding-right: 4rem;
    padding-left: 3rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../Assets/Images/hero-bio.jpg");
  background-size: cover;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-size: cover;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
  }
}
.hero__container {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding-left: 6rem;
  }
}
.hero__heading {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-family: "Avenir Next";
    color: #ffffff;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700 bold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.footer {
  background: #323232;
  color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-left: 8.125rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__getintouchcontainer {
    display: flex;
  }
}
.footer__bigcontainer {
  padding-top: 1rem;
  padding-left: 1rem;
}
.footer__container {
  padding-bottom: 1rem;
}
.footer__container--text {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .footer__container--text {
    font-family: "Avenir Next";
    color: #ffffff;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-right: 2.25rem;
    padding-top: 2.25rem;
  }
}
.footer__socialmediacontainer {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socialmediacontainer {
    display: flex;
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .footer__bandmembersdiv {
    display: flex;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__bandmemberinfo {
    padding-top: 1rem;
    padding-right: 4.5rem;
  }
}
.footer__sidelogo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__sidelogo {
    display: block;
    padding-right: 3rem;
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__sidelogo {
    padding-right: 8.5rem;
  }
}
.footer__socialmediaicon {
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__socialmediaicon {
    height: 25px;
    padding-left: 1rem;
    padding-top: 2.7rem;
  }
}
.footer__namecontainer {
  padding-bottom: 1rem;
}
.footer__info {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.footer__subinfo {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__email {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer a {
  text-decoration: none;
}
.footer__bottomlogo {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__bottomlogo {
    display: none;
  }
}
.footer__logoinfo {
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logoinfo {
    padding-bottom: 2.25rem;
  }
}

.photogallery {
  background: #fafafa;
}
.photogallery__container {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .photogallery__container {
    padding-left: 2.25rem;
    font-family: "Avenir Next";
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .photogallery__container {
    padding-left: 8.125rem;
    padding-right: 8.125rem;
    padding-top: 3rem;
    font-family: "Avenir Next";
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.photogallery__container--text {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .photogallery__container--text {
    font-family: "Avenir Next";
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.photogallery__imagecontainer {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .photogallery__imagecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .photogallery__imagecontainer {
    padding-left: 8.125rem;
    padding-right: 8.125rem;
  }
}
.photogallery__image {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
@media screen and (min-width: 768px) {
  .photogallery__image {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 3vh 0;
  }
}
.photogallery__image:hover {
  filter: grayscale(0%);
}

.about {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 1280px) {
  .about__textcontainer {
    padding-left: 4rem;
  }
}
.about__textcontainer--heading {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__textcontainer--heading {
    padding-top: 2.25rem;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
    font-family: "Avenir Next";
    color: #323232;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.about__imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__imgcontainer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.about__imgcontainer--img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .about__imgcontainer--img {
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  .about__quotecontainer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quotecontainer {
    padding-left: 10.125rem;
    padding-right: 8.125rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
}
.about__quotecontainer--text {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quotecontainer--text {
    font-family: "Avenir Next";
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__quotecontainer--text {
    padding-right: 18rem;
  }
}
.about__quotecontainer--quoteby {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quotecontainer--quoteby {
    font-family: "Avenir Next";
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: bold;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quotecontainer--quoteby {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__subheadingcontainer {
    padding-left: 4rem;
    padding-right: 8.125rem;
    padding-bottom: 2.5rem;
  }
}
.about__subheadingcontainer--text {
  font-family: "Avenir Next";
  color: #000000;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .about__subheadingcontainer--text {
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: "Avenir Next";
    color: #323232;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__subheadingcontainer--text {
    padding-bottom: 1rem;
  }
}
.about__subheadingcontainer--paragraph {
  font-family: "Avenir Next";
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__subheadingcontainer--paragraph {
    padding-right: 1.5rem;
    font-family: "Avenir Next";
    color: #323232;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .about__secondsubheadingcontainer {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__secondsubheadingcontainer {
    padding-right: 0;
  }
}/*# sourceMappingURL=bio.css.map */