.header {
  display: flex;
  flex-direction: column;
  background: #323232;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.nav__link--active,
.nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}

.header {
  display: flex;
  background: #323232;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.nav__link--active,
.nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  background: #323232;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.nav__link--active,
.nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  background: #323232;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.nav__link--active, .nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  background: #323232;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 2rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.nav__link--active, .nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
} 
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  background: #323232;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header__title {
  font-family: "Avenir Next";
  text-transform: capitalize;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 2rem;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  padding: 32px;
  font-family: "Avenir Next";
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
.nav__link--active, .nav__link:hover {
  -webkit-text-decoration: underline #ffffff;
          text-decoration: underline #ffffff;
}/*# sourceMappingURL=global.css.map */